body {
  text-align: center;
}
svg {
  font-size: 12px;
  display: block;
  margin: auto;
}
#tooltip {
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  background-color: Gainsboro;
  font-size: 16px;
}